.btn{

  &:link,
  &:visited {
    text-decoration: none;
    text-transform: uppercase;
    padding: 1.5rem 4rem;
    display: inline-block;
    border-radius: 10rem;
    transition: all 0.2s;
    position: relative;
  }
  &:hover {
    transform: translateY(-0.3rem);
    box-shadow: 0 1rem 2rem rgba($color-black, 0.2);
    
  &::after {
    transform: scale(1.4, 1.6);
    opacity: 0;
   }
  }
  &:active {
    transform: translateY(-1px);
    box-shadow: 0 0.5rem 1rem rgba($color-black, 0.2);
  }
  &--white {
    color: $color-grey-dark;
    background-color: $color-white;

    &::after {
      background-color: $color-white;
    }
  }
  &--green{
    color: $color-white;
    background-color: $color-second;

    &::after {
      background-color: $color-second;
    }
  }
  &::after {
    display: inline-block;
    content: "";
    height: 100%;
    width: 100%;
    border-radius: 10rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all 0.4s;
  }
  &--animate {
    animation: movefromBottom 0.5s ease-out 0.75s;
    animation-fill-mode: backwards;
  }
}
.btn-link{
  &:link,
  &:visited{
    font-size: $defaut-fontsize;
    color: $color-third;
    display: inline-block;
    padding: 3px;
    text-decoration: none;
    border-bottom: 1px solid $color-third;
    transition: all 0.2s;
  }

  &:hover{
    border-bottom: none;
    color: $color-white;
    background-color: $color-second;
    text-decoration: none;
    border-radius: 1px solid $color-second;
    box-shadow: 0 1rem 2rem rgba($color-black, 0.15);
    border-bottom: 1px solid transparent;
    transform: translateY(-2px); // move up 2p
  }
  &:active{
    box-shadow: 0 0.5rem 1rem rgba($color-black, 0.15);
    transform: translateY(0); // move up 2p
  }

}
